/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    background-color: bisque;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body header::before {
    content: "";
    background: url(../images/San_Francisco_skyline_from_Coit_Tower.jpg);
    background-position: center;
    background-size: cover;
    display:block;
    height: 375px;
    margin: 0px;
    /* content: ""; */
}

body {
    margin: 0 20%;
    margin-bottom: 0;
    padding: 0 5%;
    background-color: aliceblue;
}

.logos {
    width: 50px;
}

.socials{
    justify-content: center;
}

.education-item {
    display: flow-root
}
.education-item img{
    width: 100px;
    float: right;
    margin-left: 20px
}